<h1>Login:</h1><br>
<%= form_tag(login_path) do %>
  <%= label_tag "user_name", "Your name: " %>
  <%= collection_select(:user, :name, User.all, :name, :name) %><br>
  <%= label_tag "password", "Your password: " %>
  <%= password_field_tag :password%><br><br>
  <%= submit_tag "Sign In" %>
<<<<<<< HEAD
<% end %>
=======
<% end %>
>>>>>>> 7f085de209bc18e15555530299d209c940c9be71
